
html{
/* 
    font-style: italic;
    font-weight: 900;
    font-size: 100px; */
    

}


body{
    background-color: dodgerblue;
    /* margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px; */
    
}

div{
    background-color: floralwhite;
    
}

nav{
    background-color:dodgerblue;
    padding: 20px;
    margin-top: 5px;
    box-shadow: grey;
}

#contactFont{
    color: blueviolet;
}