
body{
    background-color:rgba(124, 28, 28, 0.801);
    border-radius: 25px;
    box-shadow: 4px 4px 0px black;
}

div{
    background-color: rgb(248, 247, 172);
    border-radius: 25px;
 
    
}

nav{
    background-color:rgba(124, 28, 28, 0.801);
    padding: 20px;
    margin-top: 5px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 10px 10px 10px tan;

}

#contactFont{
    color: white;
    text-shadow:black;
    font-size: large;
    background-color: rgba(124, 28, 28, 0.801);;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 10px 10px 10px tan;
    transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-emphasis-position: 20px;
    
}

#title{
    color:white;
    text-shadow:black;
    text-shadow: 5px;
    font-size:xx-large;
    font: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

};



